

<header>
    <link rel="stylesheet" href="app.component.css">

    <nav>
      <ul>
        <li><a routerLink="/Login">Login</a></li>
        <li><a routerLink="/Register">Register</a></li>
        <li><a routerLink="/SinhVien" *ngIf="isLoggedIn()">Sinh viên</a></li>
        <li><a routerLink="/GiaoVien" *ngIf="isLoggedIn()">Giáo viên</a></li>
        <li><a routerLink="/Diem" *ngIf="isLoggedIn()">Điểm</a></li>
        <li><a routerLink="/HocPhan" *ngIf="isLoggedIn()">Học phần</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>

